# Folders
bin/
obj/
.vs/
packages/
*.nupkg
*.log
*.cache
*.tmp

#appsettings
appsettings

# Files
*.user
*.suo
*.csproj.user
*.dbmdl

# ASP.NET Core files
appsettings.Development.json
launchSettings.json

# SQL Server files
*.mdf
*.ldf